<div class="d-flex flex-column h-100">
  <div id="banner" class="p-3 text-center d-flex align-items-center justify-content-center" style="flex: 1;">
    <div class="blur"></div>
    <div class="flex-grow-1">
      <app-logo class="ms-auto me-auto non-blur d-block" style="width: fit-content"></app-logo>
      <form class="w-50 ms-auto me-auto">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Type in a country or train company" autofocus />
          <button class="btn btn-light btn-outline-secondary" type="button">Search</button>
        </div>
      </form>
    </div>
  </div>

  <div class="p-3 d-flex flex-row justify-content-center">
    @for (i of [0, 1, 2]; track i) {
      <div class="card m-2 border border-dark-subtle" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/home_bg.jpg" />
        <div class="card-body">
          <h5 class="card-title">Headline</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consetetr sadipscing elitr, sed diam nonumy eirmod tempor ividunt
          </p>
        </div>
      </div>
    }
  </div>
</div>
